<div class='container'>
  <div class='row'>
    <h1>Follower Users</h1>
  </div>
  <div class='row'>
    <% if @users.count == 0 %>
      <p>ユーザはいません。</p>
    <% else %>
      <%= render "index",users: @users %>
    <% end %>
  </div>
</div>

<!--「ログインユーザをフォローしているユーザ一覧」を取得する流れ-->
<!--1.ログインユーザのidを取得する。                            -->
<!--2.フォローされるユーザから見た中間テーブル
      (Reverse_on_relationships)から、その中間テーブルの
      FK(followed_id)＝ログインユーザidとなるレコードを全て取得 -->
<!--3. 2.で取得したレコードのfollower_idを元に、フォローする人  -->
<!--　の情報（follower:User)を順次followersに格納　　　　　　　 -->