<div class='container'>
  <div class='row'>
    <h1>Follow Users</h1>
  </div>
  <div class='row'>
    <% if @users.count == 0 %>
      <p>ユーザはいません。</p>
    <% else %>
      <%= render "index",users: @users %>
    <% end %>
  </div>
</div>